/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: hsl(0, 0%, 95%);
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

header nav {
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  margin-right: 50px;
  padding-top: 25px;
  border-top: 2px solid transparent;
}
.nav-link:hover {
  border-top: 2px solid #007bff;
  color: #007bff;
 }

h1,
p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 61px;
  height: 19px;
}
.search-bar {
  display: flex;
  width: 420px;
  height: 49px;
  border-width: 1px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon {
  width: 50px;
  height: 49px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: rgba(242, 242, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon i {
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

.search-bar input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding: 10px;
  text-align: center;
}

.button {
  background-color: rgba(0, 101, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  padding: 0 16px;
  border-width: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0, 101, 252, 1);
}

.btn-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.search-icon {
  display: none;
}

.filteBar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filteBar i {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: rgba(0, 101, 252, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtre-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1;
}

.Filtre {
  display: flex;
  align-items: center;
  border-width: 2px;
  padding: 0 19px;
  height: 50px;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid rgba(217, 217, 217, 1);
  background-color: white;
  cursor: pointer;
}
.Filtre span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

.filteBar button:hover {
  background: rgba(222, 235, 255, 1);
}

.infobar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.infobar i {
  width: 22px;
  height: 22px;
  font-size: 16px;
  color: rgba(0, 101, 252, 1);
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 1px;
  box-sizing: content-box;
  text-align: center;
}
.infobar span {
  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.hebergements-cards img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  display: block;
}
.hebergements-cards .card {
  display: flex;
  flex-direction: column;
}
.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.card-subtitle {
  font-size: 14px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.afficher-plus {
  display: block;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}


/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
  width: 100%;
  max-width: 1340px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 50px auto 0 auto;
}

.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.activites-cards a {
  width: 23%;
}

.activites-cards .card {
  height: 439px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.activites-cards .card-content {
  padding-left: 5px;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}

.activites-cards .card-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 1);
  padding: 10px 10px 0 10px;
}

/****** footer ***********/
footer {
  background: rgba(242, 242, 242, 1);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  gap: 50px;
  max-width: 1100px;
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}
.footer-column p {
  font-size: 14px;
  color: #333;
  margin: 3px 0;
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
}

@media (max-width: 1024px) {
  .main-container {
    padding: 0 30px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
    margin: 0;
  }

  .populaires {
    margin-top: 30px;
  }

  .populaires-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .populaires-cards a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%; 
  }

  .filteBar {
    flex-direction: column;
    align-items: unset;
  }
 .filtre-buttons {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  flex: 1;
}

  .activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
  }

  .activites-cards a {
    width: 23%;
  }

  .activites-cards .card {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
  }

  .activites-cards img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
  }

  .activites-cards .card-title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    margin: auto;
    }

    footer {
    padding: 20px 15px;
  }
}

@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    background-color: white;
  }

  .main-container {
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
  }

    nav > div {
    display: flex;
    border-bottom: 2px solid #f2f2f2; 
    width: 100%;
  }

  .nav-link {
    flex: 1; 
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
    font-family: Raleway;
    color: rgba(0, 0, 0, 1);
    border-top: none; 
    border-bottom: 3px solid transparent; 
    text-decoration: none;
  }

  .nav-link:hover {
    border-top: none; 
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }
   .main-titles {
   padding-left: 15px;
  }

 h1 {
  font-size: 22px;
  line-height: 28px;
  
  }

  p {
    font-size: 14px;
    line-height: 20px;
    /*margin: 0 15px;*/
  }

  .search-bar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px auto 0 auto;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
  }

  .search-bar .icon {
    background-color: #f2f2f2;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-bar input {
    flex-grow: 1;
    font-size: 16px;
    border: none;
    padding: 0 10px;
    height: 100%;
  }

  .search-bar button {
    background-color: #0065fc;
    border: none;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    height: 100%;
  }

  .btn-text {
    display: none;
  }

  .search-icon {
    display: inline;
    font-size: 18px;
    color: white;
  }

  .filteBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 15px 10px;
    align-items: flex-start;
  }

  .filteBar h2 {
    font-size: 18px;
    margin: 0;
    text-align: left;
  }

  .filtre-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }

  .Filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background-color: white;
    white-space: nowrap;
  }

  .infobar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 14px;
    margin: 35px 20px;
  }

  .infobar i {
    font-size: 16px;
    color: #0065fc;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
     
  }

    section.populaires {
    margin-bottom: 30px;
    border-radius: 0;
    padding:30px 20px;
  }

  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .populaires-cards a {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
  }

  .populaires-cards {
    display:flex;
    flex-direction: column;
    gap: 5px;
  }

  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .populaires-cards .card-subtitle {
    margin: 0;
  }

  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  .hebergements-and-populaires section.hebergements {
    padding: 20px;
    background-color: white;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hebergements-cards .card {
    width: 100%;
    border-radius: 10px;
  }

  .activites {
    padding: 30px;
    background-color: white;
  }

  .activites-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .activites-cards .card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .activites-cards img {
    width: 100%;
    height: 141px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }

  .activites-cards a {
    width: 100%;
  }

  footer {
    padding: 10px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-column {
    width: 100%;
    align-items: flex-start;
  }

}


